<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Hello World!</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

    <a href ="/books"><input type="button" value="All books in library"/></a>

    <a href ="/available"><input type="button" value="Available books"/></a>

    <a href ="/rentedbooks"><input type="button" value="My rented books"/></a>


<div sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/users}">Admin page</a>
</div>
</body>
</html>